@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" href="style.css"/>
</head>

<body>
    <header>
        <div class="contenedor">
            <img class="img-logo" src="media/logo-png.png">
            <input type="checkbox" id="menu-bar">
            <label class="fontawesome-align-justify" for="menu-bar"></label>
            <nav class="menu">
                <a href="">Inicio</a>
                <a href="">Mascotas</a>
                <a href="">Contacto</a>
            </nav>
        </div>
    </header>

    <main>
        <section id="banner">
            <img src="media/slide-index.png">
            <div class="contenedor">
                <h2>Servicio veterinario a domicilio</h2>
                <p>¿Necesitas agendar una cita?</p>
                <a href="#">Agendar cita</a>
            </div>
        </section>

        <section id="bienvenidos">
            <div class="contenedor">
                <h2>Para muchos de nosotros las mascotas no son simples compañeros, son miembros de la familia.</h2>
                <p></p>
            </div>
        </section>
        <section id="info">
            <h3>SERVICIOS</h3>
            <div class="contenedor">
                <div class="info-pet">
                    <img src="media/servis1.png" alt="">
                    <h4>Veterinario a Domicilio</h4>
                </div>
                <div class="info-pet">
                    <img src="media/servis2.png" alt="">
                    <h4>Consultorio Veterinario</h4>
                </div>
                <div class="info-pet">
                    <img src="media/servis3.png" alt="">
                    <h4>¡EPS de mascotas!</h4>
                </div>
                <div class="info-pet">
                    <img src="media/servis4.png" alt="">
                    <h4>Centro de adopcion</h4>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="contenedor">
            <p class="copy">Home care pet By Big Workers &copy; 2022</p>
            <div class="sociales">
                <a class="fontawesome-facebook-sign" href="#"></a>
                <a class="fontawesome-twitter" href="#"></a>
                <a class="fontawesome-camera-retro" href="#"></a>
            </div>
        </div>
    </footer>


</body>

</html>